table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    padding: 8px;
    text-align: left;
}
text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;